<div class="row-fluid">
		<p class="lead"><i><%=profile.msg1%></i></p>
		<p class="msg1"><%=profile.msg2%></p>
		<div class="row-fluid">
			<div class="msg2 pull-right">
				<strong>
				<p><%="#{t(:phone)} #{profile.tel1}"%> <%= " / #{profile.tel2}" if profile.tel2 %></p>
				<%= "<p>#{t(:emergency)}  #{profile.tel3}</p>".html_safe if profile.tel3 %>
				</strong>
			</div>
			<div class="span6">
				<%=render 'layouts/skype'%>
			</div>
		</div>
</div>
