<% provide(:title, t(:about)) %>
<div class="row">
	<div class="span12">
		<div class="about">
			<h3><%= t(:about)%></h3>
			<p><%=profile.about%></p>

			<h3><%= t(:mission)%></h3>
			<p><%=profile.mission%></p>

			<h3><%= t(:pillars)%></h3>
			<ul>
				<%profile.pillars.split(/,/).each do |v|%>
					<li><%=v%></li>
				<%end%>
			</ul>
		</div>
	</div>
</div>
