<% provide(:title, t(:about)) %>
		<h4><%= t(:about)%></h4>
		<div class="row">
			<div class="span7 offset1">
				<p><%=profile.about%></p>
			</div>
		</div>

		<h4><%= t(:mission)%></h4>
		<div class="row">
			<div class="span7 offset1">
				<p><%=profile.mission%></p>
			</div>
		</div>

		<h4><%= t(:pillars)%></h4>
		<div class="row">
			<div class="span7 offset1">
				<p>
					<%profile.pillars.split(/,/).each do |v|%>
						<%= v%><br/>
					<%end%>
					<!--
					<ul>
						<%profile.pillars.split(/,/).each do |v|%>
							<li><%= v%></li>
						<%end%>
					</ul>
					-->
				</p>
			</div>
		</div>
