<% provide(:title, t(:contacts) ) %>
		<div class="transparent-box offset2 span5">
			<center>
				<address>
					<p><strong><%=profile.title%></strong></p>
					<%=profile.addr1%><br/>
					<%=profile.addr2%><br/>
					<p>
						<%=profile.att %><br/>
						<%=profile.tel1%> <%= " / #{profile.tel2}" if profile.tel2 %><br/>
						<%=" #{t(:emergency)}: #{profile.tel3}"%><br/>
						<a href="mailto:#"><%=profile.email%></a><br/>
					</p>
				</address>
			</center>
		</div>
		
		<!--
		<div class="transparent-box span1 pull-rigth">
			<center><%=render 'layouts/skype-call'%></center>
		</div>-->
		
		<%= image_tag('contact.png', class:'') %>
		
		<div class="row">
			<div class="span5">
				<h4><%=t(:contact)%></h4>
				<div class="inner-box">
				<%= form_for(:visitor, url: contact_path, class: "") do |f| %>
					<%= f.text_field :name, placeholder: t(:name), class: 'span4' %>
					<%= f.text_field :email, placeholder: "Email", class: 'span4' %>
					<%= f.text_area :message, placeholder: t(:message), rows: 5, class: 'span4' %>
  					<%= f.submit t(:send), class: "btn btn-large btn btn btn-info" %>
				<% end %>
				<% flash.each do |key, value| %>
					<%= content_tag(:div, value, class: "alert alert-#{key}") %>
				<% end %>  
				</div>
			</div>

			<div class="span5">
				<h4><%=t(:location)%></h4>
				<div class="inner-box">
				<!--http://stackoverflow.com/questions/903457/ruby-on-rails-gem-for-google-map-integration-->
				<%= image_tag('http://maps.google.com/maps/api/staticmap?size=512x255&maptype=roadmap&zoom=15&sensor=false&markers=color:red|label:Vou Viajar Agencia de Turismo|Rua Via Veneto, Santa Felicidade - Curitiba/PR - Brasil', class:'container') %>
				</div>
			</div>

		</div>
		

