<% provide(:title, t(:news)) %>
		<h4><%=t(:lnews)%></h4>
		<div class="inner-box">
			<div class="row-fluid">
			<%@feed.entries.each do |entry| %>
				<div class="thumbnail span4">
					<h4><%= link_to entry.title, entry.url, target: '_blank'%></h4>
					<p>
						<%=entry.summary.html_safe%>
						<%= link_to t(:more), entry.url, target: '_blank'%>
					</p>
				</div>
			<%end%>
			</div>
			<div class=""><%="#{t(:source)}: #{@feed.title}"%></div>
		</div>
