<%= form_for(@pack, class: "form-horizontal") do |f| %>
  <% if @pack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pack.errors.count, "error") %> prohibited this pack from being saved:</h2>

      <ul>
      <% @pack.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	<div class="control-group">
    	<%= f.label :category_id, "#{t(:category)}:" %>
   		<%= f.select(:category_id, options_for_select(category_map, @pack.category_id ||=0) )%>
   	</div>

	<div class="control-group">
		<%= f.label "#{t(:positioning)}:"%>
  		<%= f.label :promo, class: "checkbox  inline" do %>
        	<%= f.check_box :promo %><%= t(:promo)%>
    	<%end%>
	    <%= f.label :star, class: "checkbox  inline" do %>
    		<%= f.check_box :star %><%= t(:star)%>
    	<%end%>
    </div>

	<!--
    <%= f.label :international do %>
    	<%= f.check_box :international %> Internacional
    <%end%>-->

	<div class="control-group">
    	<%= f.label :pdf, 'Pdf:' %>
		<%= link_to @pack.pdf.to_s, @pack.pdf.to_s, target: '_blank' if @pack.pdf? %><br/>
    	<%= f.file_field :pdf %>
    </div>

	<div class="control-group">
    	<%= f.label :image, "#{t(:image)}:" %>
    	<%= image_tag @pack.image.to_s if @pack.image? %><br/>
    	<%= f.file_field :image %><br/>
    </div>

	<div class="form-actions">
    	<%= f.submit t(:save), class:"btn btn-info" %>
    	<%= link_to t(:cancel), packs_path, class:"btn" %>
    </div>
<% end %>
