<div class="page-title visible-desktop offset3">
	<h1><%="Vou Viajar Turismo".upcase %></h1>
</div>	
<%= image_tag('banner.jpg', class: 'container') %>

<header class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="the-brand hidden-desktop"><strong><%= "Vou Viajar Turismo".upcase %></strong></div>
      <div class="nav-collapse collapse">
      <nav>
        <ul class="nav pull-right">
        	<%if signed_in?%>
        		<li><%= link_to t(:profile), edit_profile_path(1)%></li>
        		<li class="divider-vertical"></li>
				<li><%= link_to t(:packages), packs_path%></li>
          		<li class="divider-vertical"></li>
				<li><%= link_to "Sair", signout_path, method: "delete"%></li>
			<%else%>
          		<li><%= link_to t(:home), root_path %></li>
          		<li class="divider-vertical"></li>
          		<li><%= link_to t(:packages), packages_path %></li>
          		<li class="divider-vertical"></li>
          		<li><%= link_to t(:info), info_path %></li>
          		<li class="divider-vertical"></li>
          		<li><%= link_to t(:news), news_path %></li>
          		<li class="divider-vertical"></li>
          		<li><%= link_to t(:about), about_path %></li>
          		<li class="divider-vertical"></li>
          		<li><%= link_to t(:contacts), contact_path %></li>
          	<%end%>
          	<!--<li><a></a></li>-->
        </ul>
      </nav>
      </div>
    </div>
  </div>
</header>
