<div class="page-title visible-desktop">
	<strong><%="Vou Viajar Turismo".upcase %></strong>
</div>	
<%= image_tag('banner.jpg', class: 'container') %>

<header class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="the-brand hidden-desktop"><%= "Vou Viajar Turismo".upcase %></div>
      <div class="nav-collapse collapse">
      <nav>
        <ul class="nav pull-right">
        	<%if signed_in?%>
        		<li><%= link_to 'Perfil', edit_profile_path(1)%></li>
        		<li class="divider-vertical"></li>
				<li><%= link_to 'Pacotes', packs_path%></li>
          		<li class="divider-vertical"></li>
				<li><%= link_to "Sair", signout_path, method: "delete"%></li>
			<%else%>
          		<li><%= link_to "Inicio", root_path %></li>
          		<li class="divider-vertical"></li>
          		<li><%= link_to "Pacotes", packages_path %></li>
          		<li class="divider-vertical"></li>
          		<li><%= link_to "Informacoes Uteis", info_path %></li>
          		<li class="divider-vertical"></li>
          		<li><%= link_to "Noticias", news_path %></li>
          		<li class="divider-vertical"></li>
          		<li><%= link_to "Quem Somos", about_path %></li>
          		<li class="divider-vertical"></li>
          		<li><%= link_to "Contatos", contact_path %></li>
          	<%end%>
          	<li><a></a></li>
        </ul>
      </nav>
      </div>
    </div>
  </div>
</header>
